version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'
  
  access_log:
    format: '%(asctime)s - %(clientip)s - %(clientport)s - %(request_method)s %(request_path)s %(request_protocol)s - %(status_code)s %(response_size)s - %(user_agent)s'
  
  debug:
    format: '[%(levelname)s] %(asctime)s - %(name)s:%(lineno)d - %(message)s'

handlers:
  console:
    class: logging.StreamHandler
    formatter: precise
    level: DEBUG
    stream: ext://sys.stdout
  
  stderr:
    class: logging.StreamHandler
    formatter: debug
    level: WARNING
    stream: ext://sys.stderr
  
  access:
    class: logging.StreamHandler
    formatter: access_log
    level: INFO
    stream: ext://sys.stdout

loggers:
    _placeholder:
        level: "DEBUG"
    
    synapse:
        level: DEBUG
        handlers: [console, stderr]
    
    synapse.http.server:
        level: DEBUG
        handlers: [access, console]
    
    synapse.access.http:
        level: DEBUG
        handlers: [access]
    
    synapse.storage.SQL:
        level: DEBUG
        handlers: [console]
    
    synapse.replication:
        level: DEBUG
        handlers: [console]
    
    synapse.federation:
        level: DEBUG
        handlers: [console]
    
    synapse.database:
        level: DEBUG
        handlers: [console]

root:
    level: DEBUG
    handlers: [console, stderr]

disable_existing_loggers: false
